<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->

        <div class="contentBox contentBox--noBackg contentBox--noPadding">

            <!-- Contenedor de Beneficios y Caracteristicas -->
            <div class="benefits__container">

                    <!-- Item Beneficios y Caracteristicas -->
                    <div class="benefits__item">
                        <img src="../images/icon-CCC-bnft1.svg" alt="Beneficio">
                        <p>
                            Atención médica de los afectados en un accidente de tránsito.
                        </p>
                    </div>
                    <!-- Fin Item Beneficios y Caracteristicas -->
                    <div class="benefits__item">
                        <img src="../images/icon-CCC-bnft2.svg" alt="Beneficio">
                        <p>
                            Asesoría jurídica telefónica para atender sus inquietudes en el momento de un accidente de tránsito.
                        </p>
                    </div>
                    <div class="benefits__item">
                        <img src="../images/icon-CCC-bnft3.svg" alt="Beneficio">
                        <p>
                            Coordinación del servicio de ambulancia al lugar del accidente de tránsito.
                        </p>
                    </div>
                <!-- Fin Contenedor de Beneficios y Caracteristicas -->

            </div>

            <div class="contTextInformation contTextInformation--noMrgnTop">
                <p>Esta póliza es emitida por <br> <strong>Seguros Bolívar</strong>.</p>
            </div>
        </div>

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons contButtons--noMrgn">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary">Continuar</button>
        </div>
        <!-- Contenedor y Botones genericos -->

    </section>
</body>

</html>