<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">
        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->

        <!-- Confirmaciones -->
        <div class="contentBox">
            <h1 class="center noMrgnTop">Verifique las condiciones de su solicitud</h1>

            <div class="result__Confir">
                <div class="result__Confir__item">
                    <strong>Valor del crédito:</strong>
                    <span>$10.000.000</span>
                </div>
                <div class="result__Confir__item">
                    <strong>Plazo del crédito:</strong>
                    <span>31 meses</span>
                </div>
                <div class="result__Confir__item">
                    <strong>Valor aproximado cuota mensual:</strong>
                    <span>$ 476.000</span>
                </div>
                <div class="result__Confir__item result__Confir__item--padTooltip">
                    <strong>Tasa de interés del crédito:</strong>
                    <span>1.98% M.V. (26.52% E.A.)</span>
                    <a href="javascript:void(0)" class="buttonTooltip"><span class="icon-dv-tooltipInfo"></span></a>
                    <div class="tooltip">
                        <p>
                            Esta tasa aplicará por la vigencia del crédito. Sin embargo, si llega a caer en mora en
                            los pagos del crédito, DAVIVIENDA liquidará los intereses de mora sobre el capital
                            adeudado a la tasa máxima legal permitida por la autoridad competente para el periodo
                            correspondiente.
                        </p>
                    </div>
                </div>
                <a href="javacript:void(0)" class="result__ConfirToggle" id="result__ConfirToggleOpen" onclick="seeMoreDetails()">
                    <span class="result__ConfirButton--more">Más detalles</span>
                    <span class="result__ConfirButton--icon icon-dv-showMore"></span>
                </a>
                <a href="javacript:void(0)" class="result__ConfirToggle" id="result__ConfirToggleClose" onclick="seeLessDetails()" style="display: none;">
                    <span class="result__ConfirButton--less">Menos detalles</span>
                    <span class="result__ConfirButton--icon icon-dv-showLess"></span>
                </a>
                <div class="result__Confir__item--hidden" id="boxResultConfirmHidden">
                    <div class="result__Confir__item">
                        <strong>Plazo del crédito:</strong>
                        <span>31 meses</span>
                    </div>
                    <div class="result__Confir__item">
                        <strong>Valor aproximado cuota mensual:</strong>
                        <span>$ 476.000</span>
                    </div>
                    <div class="result__Confir__item result__Confir__item--small result__Confir__item--padTooltip">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Asperiores amet ratione consequatur</strong>, odio necessitatibus voluptates nemo aliquam.</span>
                        <a href="javascript:void(0)" class="buttonTooltip"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                Esta tasa aplicará por la vigencia del crédito. Sin embargo, si llega a caer en mora en
                                los pagos del crédito, DAVIVIENDA liquidará los intereses de mora sobre el capital
                                adeudado a la tasa máxima legal permitida por la autoridad competente para el periodo
                                correspondiente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Fin container Confirmaciones -->

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary" onclick="showModalStudy()">Continuar</button>
        </div>
        <!-- Contenedor y Botones genericos -->

    </section>

    <!-- Proceso de estudio de crédito -->
    <section class="contStudyProcess" id="StudyProcess">
        <h2 class="contStudyProcess__title">Estamos evaluando su solicitud.</h2>
        <div class="clockAnimation" >
            <span class="clockAnimation__item clockAnimation--light__item"></span>
            <span class="clockAnimation__item clockAnimation--light__item"></span>
            <span class="clockAnimation__item clockAnimation--light__item clockAnimation__item--vertical"></span>
        </div>
        <p class="contStudyProcess__text">
            <span>Espere un momento por favor…</span>
            <span>Recuerde que este proceso de evaluación <strong>NO</strong> tiene cobros por comisión de tramite.</span>
            <span>¡No use intermediarios!</span>
        </p>
    </section>
    <!-- Fin Proceso de estudio de crédito -->

    <script src="../js/main.js"></script>
</body>

</html>