<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container">

        <!-- Resultados -->
        <div class="contentBox contentBox--boxConfirm contentBox--desktop">
            <div class="contentBox--boxConfirm__headerConfirm">
                <strong>Crédito Móvil</strong>
            </div>
            
            <!-- Header resultados -->
            <div class="result__alert">
                <div class="result__alert--main result__alert--main--center">
                    <span class="icon-dv-resultAlert icon"></span>
                    <p>
                        <strong class="big">Transacción en proceso</strong> <br>
                        Su crédito móvil se enceuntra en proceso de desembolso.
                    </p>
                </div>
                <!-- Textos descriptivos de las alertas -->
                <div class="result__alert--mainExtra">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde quos molestiae officiis impedit perferendis totam veniam cupiditate libero ea, doloremque fugiat praesentium aliquam a ab vitae in eaque possimus iste nesciunt explicabo, eos labore itaque?
                    </p>
                </div>
            </div>
            
            <!-- Misma caja para las confirmaciones -->
            <div class="result__Confir">
                <div class="result__Confir__item">
                    <strong>Valor del crédito:</strong>
                    <span>$10.000.000</span>
                </div>
                <div class="result__Confir__item">
                    <strong>Plazo del crédito:</strong>
                    <span>31 meses</span>
                </div>
                <div class="result__Confir__item">
                    <strong>Valor aproximado cuota mensual:</strong>
                    <span>$ 476.000</span>
                </div>
            </div>  
        </div>
        <!-- Fin Resultados -->
        
    </section>

</body>

</html>