<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Davivienda S.A.</title>
</head>

<body>
    <section class="container container--Fluid">
        
        <!-- Botón "atrás" Mobile -->
        <a href="javascript:void(0)" class="backButton">
            <span class="icon-dv-btnBack"></span>
            Atrás
        </a>
        <!-- Fin Botón "atrás" Mobile -->

        <!-- Tracking alterno - clase: dataNav__step--complete -->
        <div class="trackingMain">
            <div class="trackingMain__dataNav">
                    <!-- No se necesita poner números en el tracking, van automaticos por CSS -->
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--complete"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <!-- data-navn fin -->

        <!-- Tracking Alterno - clase: dataNav__step--active solo se activa uno, no es como el tracking principal donde trae los ya realizadoss -->
        <div class="trackingAlter">
            <div class="trackingAlter__dataNav">
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step dataNav__step--active"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
                <a href="javascript:void(0)" class="dataNav__step"></a>
            </div>
        </div>
        <!-- data-navn fin -->

        <!-- Contenedor y Botones genericos - Siempre poner los botones dentro de contButtons -->
        <div class="contButtons contButtons--noMrgn">
            <button type="button" class="button button--secondary button--back">Regresar</button>
            <button type="button" class="button button--primary" onclick="showModalStudy()">Estudio</button>
            <button type="button" class="button button--primary" onclick="showModal()">Modal</button>
            <button type="button" class="button button--primary" onclick="showKangaroo()">Canguro</button>
        </div>
        <!-- Fin Contenedor y Botones genericos -->

        <div class="contentBox">
            <div class="container">
                <!-- Formularios -->
                <form>
                    <div class="input">
                        <label for="ingresos-mensuales">¿Cuál es el <strong>valor total</strong> de sus ingresos mensuales?</label>
                        <input type="number" id="ingresos-mensuales" value="" class="input--alert">
                    </div>

                    <div class="input">
                        <p class="label">¿Seleccionar como dirección principal?</p>
                        <label class="radio">
                            Si
                            <input type="radio" value="" name="dir-principal"> 
                            <div class="radio__indicator"></div>
                        </label>
                        <label class="radio">
                            No
                            <input type="radio" value="" name="dir-principal">
                            <div class="radio__indicator"></div>
                        </label>
                    </div>

                    <div class="input input--noPadding">
                        <label for="address">¿Cuál es el teléfono de su oficina? (Opcional)
                            <a href="javascript:void(0)" class="buttonTooltip buttonTooltip--textPosition"><span class="icon-dv-tooltipInfo"></span></a>
                            <div class="tooltip">
                                <p>
                                    Ingrese primero el indicativo de la ciudad, luego el número de teléfono y finalmente la extensión si aplica.
                                </p>
                            </div>
                        </label>
                        <div class="input--fluid">
                            <span>+57</span>
                            <input type="number" placeholder="Indicativo">
                            <input type="number" placeholder="Número">
                            <input type="number" placeholder="Ext.">
                        </div>
                    </div>
                    
                    <div class="input">
                        <label for="actividad-laboral">¿Cuál es su actividad laboral actual?</label>
                        <select name="" id="actividad-laboral">
                            <option value="-1" selected disabled>Seleccione una opción</option>
                            <option value="1">Opción 1</option>
                            <option value="2">Opción 2</option>
                        </select>
                    </div>

                    <div class="input input--otp">
                        <!--  Label de ejemplo, normalmente no llebva tooltip ¡Importante!-->
                        <label for="OTP">OTP:</label>
                        <div class="input">
                            <input type="text" id="OTP">
                            <a href="javascript:void(0)" class="buttonTooltip"><span class="icon-dv-tooltipAsk"></span></a>
                            <div class="tooltip">
                                <p>
                                    El celular o correo electrónico al que le enviamos este código, es el mismo que actualmente utilizamos para enviarle la información de los movimientos de sus cuentas y productos.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="input">
                        <label for="nombre-empresa">¿Cuál es el nombre de su empresa?</label>
                        <input type="text" id="nombre-empresa" value="">
                    </div>

                    <div class="input">
                        <label for="actividad-empresa">¿Cuál es la actividad económica de su empresa?</label>
                        <input type="text" id="actividad-empresa" value="">
                    </div>

                    <div class="input">
                        <label for="tipo-contrato">¿Qué tipo de contrato tiene?</label>
                        <select name="" id="tipo-contrato">
                            <option value="-1" selected disabled>Seleccione una opción</option>
                            <option value="1">Opción 1</option>
                            <option value="2">Opción 2</option>
                        </select>
                    </div>

                    <div class="input">
                        <label for="ciudad-residencia">¿Cuál es su ciudad de residencia? </label>
                        <input type="text" id="ciudad-residencia" value="">
                    </div>

                    <div class="input">
                        <label for="ciudad-residencia">Campo fecha:</label>
                        <input type="date" id="ciudad-residencia" value="">
                    </div>
                    
                    <div class="input">
                        <label for="adressDefault">¿Cuál es su dirección de residencia?</label>
                        <input type="text" id="adressDefault" value="Carrera 9 # 116 - 08" disabled>
                        <a href="javascript:void(0)" title="Editar" class="input__buttonAction" id="triggerChangeAddress" onclick="chengeAddress()"><span class="icon-dv-edit"></span></a>

                        <div class="input--fluidBigger" id="adressAltern" style="display: none;">
                            <select name="">
                                <option value="-1" selected>Carrera</option>
                                <option value="1">Opción 1</option>
                                <option value="2">Opción 2</option>
                            </select>
                            <input type="text" value="9">
                            <span>#</span>
                            <input type="text" value="116">
                            <span>-</span>
                            <input type="text" value="08">
                        </div>
                    </div>

                    <div class="input">
                        <label for="num-ases">Si está recibiendo ayuda de un <strong>asesor del Banco</strong>, ingrese el código del asesor.</label>
                        <div class="input">
                            <input type="number" id="num-ases" value="" placeholder="Opcional">
                            <a href="javascript:void(0)" class="buttonTooltip">
                                <span class="icon-dv-tooltipAsk"></span>
                            </a>
                            <div class="tooltip">
                                <p>
                                    Si le prestaron asesoría, ingrese el código del asesor comercial que lo está
                                    ayudando con esta solicitud; de lo contrario, no diligencie este espacio.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="input">
                        <label class="checkbox">
                            Acepto las autorizaciones <a href="javascript:void(0)">aquí</a> descritas con relación a la consulta y reporte de mi información.
                            <input type="checkbox">
                            <div class="checkbox__indicator"></div>
                        </label>
                    </div>

                </form>
            </div>
        </div>
        <!-- Fin Formularios -->
        
        <!-- Confirmaciones -->
        <div class="contentBox">
            <div class="container">
                <h1 class="center noMrgnTop">Verifique las condiciones de su solicitud</h1>

                <div class="result__Confir">
                    <div class="result__Confir__item">
                        <strong>Valor del crédito:</strong>
                        <span>$10.000.000</span>
                    </div>
                    <div class="result__Confir__item">
                        <strong>Plazo del crédito:</strong>
                        <span>31 meses</span>
                    </div>
                    <div class="result__Confir__item">
                        <strong>Valor aproximado cuota mensual:</strong>
                        <span>$ 476.000</span>
                    </div>
                    <div class="result__Confir__item result__Confir__item--padTooltip">
                        <strong>Tasa de interés del crédito:</strong>
                        <span>1.98% M.V. (26.52% E.A.)</span>
                        <a href="javascript:void(0)" class="buttonTooltip"><span class="icon-dv-tooltipInfo"></span></a>
                        <div class="tooltip">
                            <p>
                                Esta tasa aplicará por la vigencia del crédito. Sin embargo, si llega a caer en mora en
                                los pagos del crédito, DAVIVIENDA liquidará los intereses de mora sobre el capital
                                adeudado a la tasa máxima legal permitida por la autoridad competente para el periodo
                                correspondiente.
                            </p>
                        </div>
                    </div>
                    <a href="javacript:void(0)" class="result__ConfirToggle" id="result__ConfirToggleOpen" onclick="seeMoreDetails()">
                        <span class="result__ConfirButton--more">Más detalles</span>
                        <span class="result__ConfirButton--icon icon-dv-showMore"></span>
                    </a>
                    <a href="javacript:void(0)" class="result__ConfirToggle" id="result__ConfirToggleClose" onclick="seeLessDetails()" style="display: none;">
                        <span class="result__ConfirButton--less">Menos detalles</span>
                        <span class="result__ConfirButton--icon icon-dv-showLess"></span>
                    </a>
                    <div class="result__Confir__item--hidden" id="boxResultConfirmHidden">
                        <div class="result__Confir__item">
                            <strong>Plazo del crédito:</strong>
                            <span>31 meses</span>
                        </div>
                        <div class="result__Confir__item">
                            <strong>Valor aproximado cuota mensual:</strong>
                            <span>$ 476.000</span>
                        </div>
                        <div class="result__Confir__item result__Confir__item--small result__Confir__item--padTooltip">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Asperiores amet ratione consequatur</strong>, odio necessitatibus voluptates nemo aliquam.</span>
                            <a href="javascript:void(0)" class="buttonTooltip"><span class="icon-dv-tooltipInfo"></span></a>
                            <div class="tooltip">
                                <p>
                                    Esta tasa aplicará por la vigencia del crédito. Sin embargo, si llega a caer en mora en
                                    los pagos del crédito, DAVIVIENDA liquidará los intereses de mora sobre el capital
                                    adeudado a la tasa máxima legal permitida por la autoridad competente para el periodo
                                    correspondiente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin container Confirmaciones -->

        <!-- Firma y Autenticación -->
        <div class="contentBox">
            <h1 class="center noMrgnTop">Marque las siguientes opciones para <br> continuar con el proceso</h1>

            <form>
                <div class="input">
                    <label class="checkbox">
                        Manifiesto que he leído y acepto firmar el <a href="javascript:void(0)">Pagaré</a>.  
                        <input type="checkbox">
                        <div class="checkbox__indicator"></div>
                    </label>
                </div>
                <div class="input">
                    <label class="checkbox">
                        Autorizo a Davivienda a <a href="javascript:void(0)" class="buttonTooltip">debitar automáticamente</a> la cuota de mi crédito de la cuenta seleccionada para el desembolso.
                        <input type="checkbox">
                        <div class="checkbox__indicator"></div>
                        <div class="tooltip">
                            <p>
                                La cuota mensual de su crédito será debitada automáticamente de la cuenta
                                que usted seleccione para este fin. <br>
                                En caso de no contar con recursos en la cuenta autorizada, Davivienda debitará
                                los recursos de otras cuentas o depósitos que posea a su nombre con el Banco.
                            </p>
                        </div>
                    </label>
                </div>
                <div class="input">
                    <label class="checkbox">
                        Manifiesto que he leído y acepto firmar la <a href="javascript:void(0)">declaración de asegurabilidad</a>. 
                        <input type="checkbox">
                        <div class="checkbox__indicator"></div>
                    </label>
                </div>
            </form>
        </div>
        <!-- Fin - firma y Autenticación -->

        <!-- Resultados -->
        <div class="contentBox contentBox--boxConfirm contentBox--desktop">
            <div class="contentBox--boxConfirm__headerConfirm">
                <strong>Crédito Móvil</strong>
            </div>
            <div class="container">
                <div class="result__alert">
                    <div class="result__alert--main result__alert--main--center">
                        <span class="icon-dv-resultCheck icon"></span>
                        <p>
                            <strong class="big">Felicitaciones</strong> <br>
                            Su crédito móvil ha sido desembolsado.
                        </p>
                    </div>
                    <div class="result__alert--mainExtra">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde quos molestiae officiis impedit perferendis totam veniam cupiditate libero ea, doloremque fugiat praesentium aliquam a ab vitae in eaque possimus iste nesciunt explicabo, eos labore itaque?
                        </p>
                    </div>
                </div>

                <div class="result__alert">
                    <div class="result__alert--main result__alert--main--center">
                        <span class="icon-dv-resultFail icon"></span>
                        <p>
                            <strong class="big">Transacción erronea</strong> <br>
                            Su crédito móvil no ha sido desembolsado.
                        </p>
                    </div>
                </div>

                <div class="result__alert">
                    <div class="result__alert--main result__alert--main--center">
                        <span class="icon-dv-resultAlert icon"></span>
                        <p>
                            <strong class="big">Transacción en proceso</strong> <br>
                            Su crédito móvil se enceuntra en proceso de desembolso.
                        </p>
                    </div>
                </div>

                <div class="result__Confir">
                    <div class="result__Confir__item">
                        <strong>Valor del crédito:</strong>
                        <span>$10.000.000</span>
                    </div>
                    <div class="result__Confir__item">
                        <strong>Plazo del crédito:</strong>
                        <span>31 meses</span>
                    </div>
                    <div class="result__Confir__item">
                        <strong>Valor aproximado cuota mensual:</strong>
                        <span>$ 476.000</span>
                    </div>
                </div>  
            </div>
        </div>
        <!-- Fin Resultados -->

        <!-- Textos Helpers -->
        <div class="contTextInformation">
            <p>No olvide consultar las condiciones generales de su seguro, en nuestra
                página web <strong>www.segurosbolivar.co</strong>
            </p>
        </div>
        <!-- Fin Textos Helpers -->

        <!--  Textos de Terminos y Condiciones-->
        <div class="contentBox contentBox--desktop">
            <div class="container container--textTYC">
                <h2 class="noMrgnTop"> Proteja sus pagos </h2>
                <p>
                    El seguro Protección de Pagos cubre hasta 6 cuotas mensuales de su crédito (Hasta $4.000.000
                    millones de COP por cuota) dejadas de pagar por su usted debido a la pérdida de su empleo por una
                    causa ajena a la decisión propia (renuncia o abandono del trabajo), o, por una hospitalización mayor
                    a 30 días en caso de ser independiente ó pensionado. Además, sin importar su actividad económica,
                    sus pagos estarán protegidos en caso de Incapacidad Temporal o permanente.
                    <br><br>
                    Al adquirir el Seguro de protección de pagos usted autoriza a Seguros Bolívar para:
                    <br><br>
                    • Incluir la prima de seguro dentro de la factura del crédito que tendrá los pagos cubiertos.
                    <br><br>
                    • Tener acceso, solicitar, recibir y conservar su historia clínica y de trabajo de cualquier entidad
                    de salud, empleador o agencia de empleos.
                    <br><br>
                    • Mantener la cobertura ininterrumpida una vez termine la vigencia, sin perjuicio de la facultad que
                    le asiste al Asegurado de dar por terminado el contrato o de manifestar su decisión de no renovarlo
                    en cualquier momento.
                    <br><br>
                    • Cancelar el seguro en caso de incurrir en mora mayor a 60 días del pago de la cuota del crédito.
                </p>
            </div>
        </div>

        <!-- Textos Helpers -->
        <div class="contTextInformation contTextInformation--noMrgnBottom contTextInformation--big">
            <p><strong>¿Desea cancelar o aceptar el producto?</strong></p>
        </div>
        <!-- Fin Textos Helpers -->

        <!-- Contenedor y Botones igual ancho -->
        <div class="contButtons contButtons--sameWidth">
            <button type="button" class="button button--secondary">Cancelar</button>
            <button type="button" class="button button--primary">Ajuste automático</button>
        </div>
        <!-- Fin Contenedor y Botones igual ancho -->

    </section>


    <!-- Proceso de estudio de crédito -->
    <section class="contStudyProcess" id="StudyProcess">
        <h2 class="contStudyProcess__title">Estamos evaluando su solicitud.</h2>
        <div class="clockAnimation" >
            <span class="clockAnimation__item clockAnimation--light__item"></span>
            <span class="clockAnimation__item clockAnimation--light__item"></span>
            <span class="clockAnimation__item clockAnimation--light__item clockAnimation__item--vertical"></span>
        </div>
        <p class="contStudyProcess__text">
            <span>Espere un momento por favor…</span>
            <span>Recuerde que este proceso de evaluación <strong>NO</strong> tiene cobros por comisión de tramite.</span>
            <span>¡No use intermediarios!</span>
        </p>
    </section>
    <!-- Fin Proceso de estudio de crédito -->

    <!-- Modales -->
    <section class="contModal" id="modalDefault">
        <div class="modal">
            <div class="modal__body">
                <p>Lo invitamos a realizar la <strong>encuesta de perfil</strong> de 
                    riesgo para ofrecerle la mejor asesoría.
                </p>
            </div>
            <div class="contButtons contButtons--sameWidth">
                <button type="button" class="button button--secondary" onclick="hideModal()">Cancelar</button>
                <button type="button" class="button button--primary">Sí, si quiero</button>
            </div>
        </div>
    </section>
    <!-- Fin Modales -->

    <!-- Canguros -->
    <section class="contCanguroMain" id="contCanguro">
        <div class="containerCanguro">
    
            <div class="containerCanguro__header">
                <div class="header__title">
                    <img src="../images/icon-dv-figureKangaroo.svg" alt="icon">
                    <h2 class="noMrgn">Seguro Vida Online</h2>
                </div>
                <a href="javascript:void(0)" class="header__closeCanguro" onclick="hideKangaroo()" title="Cerrar"><span class="icon-dv-closeKangaroo"></span></a>
            </div>

            <div class="containerCanguro__content">
                <h2 class="noMrgn">¿Quiere proteger a su familia?</h2>
                <p class="paragraphCanguro">
                    Cubra los gastos <strong>de su hogar</strong> en caso de: <br>
                </p>
                <div class="list">
                    <div class="list__item">
                        <span class="icon-dv-listItemA"></span>
                        <p>Muerte por cualquier causa.</p>
                    </div>
                    <div class="list__item">
                        <span class="icon-dv-listItemA"></span>
                        <p>Incapacidad total y permanente.</p>
                    </div>
                </div>
                <a href="javascript:void(0)" class="content__link">Ver Términos y Condiciones</a>
                <div class="contButtons contButtons--sameWidth">
                    <button type="button" class="button button--secondary" onclick="hideKangaroo()">Omitir</button>
                    <button type="button" class="button button--primary">Adquirir</button>
                </div>
                <div class="contTextInformation contTextInformation--noMrgnTop contTextInformation--mrgnBottom">
                    <p class="text-description">Este seguro es expedido por <br> <strong>Seguros Bolívar S.A.</strong></p>
                </div>
            </div>
    
        </div>
    </section>
    <!-- Fin Canguros -->

    <!-- Atención en línea - recordar poner la clase ".container--Fluid" al ".container"-->
    <a href="javascript:void(0)" class="support">
        <span class="icon-dv-support"></span>
        <span>Atención en Línea</span>
    </a>
    <!-- Fin Atención en línea"-->

    <script src="../js/main.js"></script>
</body>

</html>