//Titulos genericos para todos los elementos
h1, h2 {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    
    text-align: left;
    font-family: $roboto;
    font-size: $font-p;
    font-weight: bold;
    color: $negro-57;
    //Clases usables en todos los elementos del corte
    //.main -> De los titulos mas usados en toda la interface
    &.main {
        text-align: center;
        font-size: $font-p + 2;
    }
    //.light -> Fuente light
    &.light {
        font-weight: 100;
    }
    //.regular -> Fuente regular
    &.regular {
        font-weight: normal;
    }
    //.justify -> Justificar texto
    &.justify {
        text-align: justify;
    }
    //.short -> Width más angosto
    &.short {
        width: 65%;
    }
    &.noFullWidth{
        width: 95%;
    }
    //.center -> Centrar el texto del titulo
    &.center {
        text-align: center;
    }
    //.noMrgnTop -> 0 de margen arriba
    &.noMrgnTop{
        margin-top: 0;
    }
    //.noMrgnBottom -> 0 de margen abajo
    &.noMrgnBottom{
        margin-bottom: 0;
    }
    //.noMrgn -> 0 de margen arriba y abajo
    &.noMrgn{
        margin: 0;
    }
    //En caso de tener un titulo regular se incuye in Strong cuando sea necesario
    strong{
        font-weight: bold;
    }
}


/* Textos de ayuda helpers 10px - 14px | Generalmemnte van fuera de los boxes o
en algunos casos dentro de los mismos */
.contTextInformation{
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 15px 0;
    &--mrgnTop{
        margin-top: 15px;
    }
    &--mrgnBottom{
        margin-bottom: 15px;
    }
    &--noMrgnTop{
        margin-top: 0;
    }
    &--noMrgnBottom{
        margin-bottom: 0;
    }
    &--big{
        p{
            font-size: $font-p;
            strong{
                font-size: $font-p;
            }
        }
    }
    p{
        font-size: $font-p - 2;
        color: $negro-57;
        strong{
            font-weight: bold;
        }
    }
}